<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello {{.service}}</title>
</head>
<body>
{{ $service := or .service "hello-app" }}
{{ $version := or .version "v1" }}
  <div style="background-color: {{ or .color "#7cc423" }};padding: 10px">Hello, {{ $service }} {{ $version }}!</div>
  <div>
    <ul>
      <li><p>instance: {{.instance}}</p></li>
      <li><p>host: {{.host}}</p></li>
      <li><p>server port: {{.port}}</p></li>
      <li><p>service: {{ $service }}</p></li>
      <li><p>version: {{ $version }}</p></li>
      <li><p>timestamp: {{ .timestamp }}</p></li>
    </ul>
  </div>
</body>
</html>
